@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'theme';

body {
    margin: 0;
    padding: 0;
}

// Overriding a style using css class hooks
.page-example {
    .component-featured-people-section {
        .component-badge {
            // you can use Tailwind apply
            @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
        }
    }
    .component-content-section {
        .component-badge {
            // or you can just use regular scss
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 3px;
        }
    }
}
